<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block body %}
            <h1>Access token :</h1><b>{{accessToken}}</b>
            <h1>Refresh token :</h1><b>{{refreshToken}}</b>
            <div class='spotify-controls'
                    data-spotify-test="toto"
                    data-spotify-access-token{{accessToken}}
                    data-spotify-refresh-token{{refreshToken}}
            ></div>
            {# <a href='http://localhost:8888'>
                <button type="button" class="btn btn-success">Login to Spotify</button>
            </a> #}
            
            </div>

        {% endblock %}
        
        
    </body>
</html>
{% block javascripts %}
    {{ encore_entry_script_tags('spotify') }}
{% endblock %}